/* RESET */

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background-color: tan;
}

/* CSS Structure */
header {
	min-height: 50px;
	position: fixed;
	width: 100%;
}

header > nav {
	display: block;
	text-align: center;
	background-color: white;
}

nav > a {
	display: inline-block;
}

.pannel:first-of-type {
	height: 100vw;
}

.graphic {
	background-color: red;
    height: 100vw;
}

.content {
	background-color: seashell;
    min-height: 100vw;
}

