/* RESET */

* {
	box-sizing: border-box;
	font-family: ARSMaquettePro-Regular, Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
}

#picture1 {
	background-image: url('/images/rtf01.jpg');
}
#picture2 {
	background-image: url('/images/rtf02.jpg');
}
#picture3 {
	background-image: url('/images/rtf03.jpg');
}
#picture4 {
	background-image: url('/images/rtf04.jpg');
}
#picture5 {
	background-image: url('/images/rtf05.jpg');
}


/* CSS Structure */
header {
	position: absolute;
	width: 960px;
	left: 50%;
	margin-left: -480px;
	/*background-color: white;*/
}

.logo {
	display: block;
	height: 143px;
	width: 250px;
	background-image: url('/images/logo_t.png');
	background-size: contain ;
}

header > nav {
	min-height: 75px;
	display: block;
	text-align: center;
}

nav > a {
	display: inline-block;
}


.hero {
	background: rgba(0,0,0,0.5), url('/images/test.jpg');
	background-size: cover;
	background-attachment: fixed;
	min-height: 400px;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.panel:first-of-type {
	min-height: 100vw;
}

.panel {
	overflow: hidden;
}

.panel > div {
	position: relative;
	min-height: 400px;
}

.panel:nth-child(odd) {
	background-color: #EEEDE6;
}

.panel:nth-child(even) {
	background-color: #4C4745;
}


.graphic {
    min-height: 100vw;
    background-size: cover;
    background-position: center center;

}


.panel:nth-child(odd) {
	background-color: #EEEDE6;
}

.panel:nth-child(even) {
	background-color: #4C4745;
}


/*
* overrides when screen width is 500px
*/
@media screen and (min-width: 500px){

	.panel:nth-child(odd) .content {
	    min-height: 100%;
	    padding: 20px;
	    margin-left: 40%;
	}

	.panel:nth-child(even) .content {
	    min-height: 100%;
	    padding: 20px;
	    margin-right: 40%;
	}
	.panel:first-of-type {
		height: 100vw;
	}

	.panel {
		min-height: 500px;
	}

	.graphic {
	    min-height: 500px;
	    width: 40%;
	}
	.graphic {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 40%;
	}
	.panel:nth-child(odd) .graphic {
		left: 0;
	}

	.panel:nth-child(even) .graphic {
		right: 0;
	}

	.content {
	    min-height: 500px;
	    /*min-height: 100vw;*/
	}
	
}

/*
* overrides when screen width is 1000px
*/
@media screen and (min-width: 960px){

	.hero {
		background-image: url('/images/test.jpg');
		background-position: center bottom;
	}
	.panel:first-of-type {
		/*height: 960px;*/
	}

	.panel > div {
		width: 960px;
		margin: 0 auto;
	}
}